<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>个人资料</title>
    <script src='https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js'></script>
    <link rel="stylesheet" href="../../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../common/common.css" th:href="@{/css/common/common.css}"/>
    <style>
        .login_content{
            height: auto;
            padding:55px 0;
            position:relative;
        }
        .login_content>a{
            display: inline-block;
            width:100px;
            height: 50px;
            box-shadow: -5px 0px 30px #fe4246;
            position: absolute;
            left:-100px;
            z-index: 999;
            border-left:none;
            border-radius: 4px;
        }
		.user_error_tip,.password_error_tip,.mobile_error_tip,.email_error_tip,.company_error_tip,.job_error_tip{
            margin-bottom: 0;
            color:#fe4246;
            visibility: hidden;
        }
    </style>
    </head>
    <body>
    <div id="header" th:include="frontend/common/header :: header"></div>
    <div class='login_content'>
        <a href="javascript:;" class="opt"></a>
        <a href="javascript:;" class="per"></a>
        <a href="javascript:;" class="pas"></a>
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-offset-1 col-sm-10 login_title">
                    个人资料
                </div>
            </div>
            <div class="form-group" style="margin-bottom: 0;">
                <div class="col-sm-offset-2 col-sm-10 user_error_tip">
                    姓名不能为空！
                </div>
            </div>
            <div class="form-group">
                <label for="inputUserName" class="col-sm-2 control-label">姓名</label>
                <div class="col-sm-10">
                    <input type="text" id="inputUserName" class="form-control username" placeholder="请输入您的姓名" />
                </div>
            </div>
            <div class="form-group" style="margin-bottom: 0;">
                <div class="col-sm-offset-2 col-sm-10 mobile_error_tip">
                    手机号不能为空！
                </div>
            </div>
            <div class="form-group">
                <label for="inputMobile" class="col-sm-2 control-label">手机</label>
                <div class="col-sm-10">
                    <input type="text"  id="inputMobile" class="form-control" placeholder="请输入您的11位手机号" />
                </div>
            </div>
            <div class="form-group" style="margin-bottom: 0;">
                <div class="col-sm-offset-2 col-sm-10 email_error_tip">
                    邮箱不能为空！
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail" class="col-sm-2 control-label">邮箱</label>
                <div class="col-sm-10">
                    <input type="email" id="inputEmail" class="form-control email" placeholder="请输入您的邮箱" />
                </div>
            </div>
            <div class="form-group" style="margin-bottom: 0;">
                <div class="col-sm-offset-2 col-sm-10 company_error_tip">
                    单位不能为空！
                </div>
            </div>
            <div class="form-group">
                <label for="inputUnit" class="col-sm-2 control-label">单位</label>
                <div class="col-sm-10">
                    <input type="text" id="inputUnit" class="form-control company" placeholder="请输入您所属单位名称或公司名称" />
                </div>
            </div>
            <div class="form-group" style="margin-bottom: 0;">
                <div class="col-sm-offset-2 col-sm-10 job_error_tip">
                    职位不能为空！
                </div>
            </div>
                <div class="form-group" style="margin-bottom:50px;">
                    <label for="inputPosition" class="col-sm-2 control-label">职称</label>
                    <div class="col-sm-10">
                        <input type="text" id="inputPosition" class="form-control job" placeholder="请输入您所属单位或公司的职位" />
                    </div>
                </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10 login_btn">
                <button class="btn btn-default" id = 'complete'>完成</button>
                </div>
            </div>
            
        </div>
    </div>
    </body>
    </html>
    <script th:src="@{/js/frontend/personalInfo/personalInfo.js}"></script>
