<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>数据魔方</title>
<link rel="shortcut icon" type="image/x-icon" href="../../../static/images/logo/favicon.ico" th:href="@{/images/logo/favicon.ico}"
/>
    <link rel="stylesheet" href="../../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../../../static/css/common/common.css" th:href="@{/css/common/common.css}"/>
    <script src='https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js'></script>
</head>
<body>
    <div th:include="frontend/common/main-header :: header"></div>
    <iframe style="border: none;" width='100%' height='2706' scrolling='no' src="http://www.hzfanews.com/v2/share/customization/rmrb/index.html"></iframe>
    <div th:include="frontend/common/footer :: footer"></div>
</body>
</html>
<script src="../../../static/js/frontend/plugin/showtoast/tip.js" th:src="@{/js/frontend/plugin/showtoast/tip.js}"></script>
<script src="../../../static/js/frontend/common/minHeader.js" th:src="@{/js/frontend/common/minHeader.js}"></script>
<script src="../../../static/js/frontend/magicdata/magicdata.js" th:src="@{/js/frontend/magicdata/magicdata.js}"></script>