<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>修改密码</title>
    <script src='https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js'></script>
<link rel="shortcut icon" type="image/x-icon" href="../../../static/images/logo/favicon.ico" th:href="@{/images/logo/favicon.ico}"
/>
    <link rel="stylesheet" href="../../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../../../static/css/common/common.css" th:href="@{/css/common/common.css}"/>
    <style>
        .oldpassword_error_tip,.newpassword_error_tip,.confirmpassword_error_tip{
            margin-bottom: 0;
            color:#fe4246;
            visibility: hidden;
        }
        .login_content{
            height: auto;
            padding:55px 0;
            display: block;
            min-height: 615px;
        }

        .login_content .login_title .pas span{
            color:#333333;
        }
        .login_content .form-group.title-choose{
            margin-bottom:26px;
        }
        hr{
            display: block;
            margin: 0 auto;
            width:100%;
            margin-bottom:40px;
        }
    </style>

    </head>
    <body>
    <div id="header" th:include="frontend/common/behind-header :: header"></div>
    <div class='login_content visiHide'>

        <div class="form-horizontal" style="width:538px;margin: 0 auto;">
            <div class="form-group title-choose">
                <div class="col-sm-offset-1 col-sm-10 login_title">
                    <a href="javascript:;" class="opt"><img src="../images/myservice/opt1.png"/><span>我的服务</span></a>
                    <a href="javascript:;" class="per"><img src="../images/myservice/per1.png"/><span>个人资料</span></a>
                    <a href="javascript:;" class="pas"><img src="../images/myservice/pass.png"/><span>修改密码</span></a>
                </div>
            </div>
            <hr/>
            <div class="form-group fixedcenter" style="margin-bottom: 0;">
                <div class="col-sm-offset-2 col-sm-10 oldpassword_error_tip">
                    旧密码不能为空！
                </div>
            </div>
            <div class="form-group fixedcenter" style="margin-bottom:10px;">
                <label class="col-sm-2 control-label">旧密码</label>
                <div class="col-sm-10">
                <input type="password" class="form-control oldpassword" placeholder="请输入您之前使用的密码"/>
                </div>
            </div>
            <div class="form-group fixedcenter" style="margin-bottom: 0;">
                <div class="col-sm-offset-2 col-sm-10 newpassword_error_tip">
                    新密码不能为空！
                </div>
            </div>
            <div class="form-group fixedcenter" style="margin-bottom:10px;">
                <label class="col-sm-2 control-label">新密码</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control newpassword" placeholder="请输入至少6位密码，可输入英文，数字，常用符号"/>
                </div>
            </div>
            <div class="form-group fixedcenter" style="margin-bottom: 0;">
                <div class="col-sm-offset-2 col-sm-10 confirmpassword_error_tip">
                    确认密码不能为空！
                </div>
            </div>
            <div class="form-group fixedcenter" style="margin-bottom:50px;">
                <label class="col-sm-2 control-label mima" style="padding-left:0px;padding-right:0px;">确认密码</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control confirmpassword" placeholder="请再次输入您修改的新密码"/>
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-sm-offset-1 col-sm-10 login_btn">
                    <button class="btn btn-default" id="complete">完成</button>
                </div>
            </div>
        </div>
    </div>
    <div id="loginBottom" th:include="frontend/common/footer :: footer"></div>
    </body>
    </html>
    <script src="../../../static/js/frontend/plugin/showtoast/tip.js" th:src="@{/js/frontend/plugin/showtoast/tip.js}"></script>
    <script th:src="@{/js/frontend/login/shi256.js}"></script>
    <script src="../../../static/js/frontend/common/behindHeader.js" th:src="@{/js/frontend/common/behindHeader.js}"></script>
    <script src="../../../static/js/frontend/modify_password/modify_password.js" th:src="@{/js/frontend/modify_password/modify_password.js}"></script>
    